h1, #counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 0 1 24%;
}
